 
.container{
  width: 800px;
  overflow: hidden;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
  padding: 5px;
  margin: 30px auto;
}

.block{
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  background-color: lightgreen;
}

.left{
  float: left;
}

.right{
  float: right;
}

.block__fourth--bottom{
  margin-top: 70px;
  margin-right: -112px;
}
.block__fourth--large{
  height: calc(50px*2 + 10px);
}

.block__fifth--bottom{ 
  margin-top: 70px;
  margin-right: -112px;}

.block__fifth--top{
  margin-right: 286px;
}

.block__fifth--large{
  height: calc(50px*2 + 10px);
  margin-left: 290px;
}